@use "sass:map";
@import "./palette";

@layer PROPS {
  $primary_colors_number_lists: 0, 50, 100, 150, 250, 500, 600, 700, 800;
  $secondary_colors_number_lists: 200, 300, 400, 500, 600, 700;
  $gradients_colors_number_lists: 100, 700;
  $gradients_colors_cards: 100, 700, GR-1, GR-2, GR-3, GR-4, GR-5;

  @each $i in map.keys($primary_colors_number_lists) {
    .color-primary-#{$i} {
      color: map-get($primary, "#{$i}");
    }
    .svg-color-#{$i} {
      filter: map-get($svgColor, "#{$i}");
    }
  }

  @each $i in map.keys($secondary_colors_number_lists) {
    .color-secondary-#{$i} {
      color: map-get($secondary, "#{$i}");
    }
  }

  @each $i in map.keys($primary_colors_number_lists) {
    .background-primary-#{$i} {
      background-color: map-get($primary, "#{$i}");
    }
  }

  @each $i in map.keys($secondary_colors_number_lists) {
    .background-secondary-#{$i} {
      background-color: map-get($secondary, "#{$i}");
    }
  }

  @each $i in map.keys($gradients_colors_number_lists) {
    .background-gradients-#{$i} {
      background-image: map-get($gradients, "#{$i}");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @each $i in map.keys($gradients_colors_cards) {
    .background-gradients-#{$i} {
        background-image: map-get($gradients, "#{$i}");
        background-repeat: no-repeat;
        background-size: cover;
      }
  }
}
